// custom gallery editings
.gallery_box {
  ul li {
    list-style: none;
  }
}

.gllr_single_image_text, span#fancybox-title-inside {
  text-align: center;
  font-weight: bold;
  margin: 5px 0;
}

//main page products blocks

.gallery-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery_box {
  //float: left;
  //margin-right: 25px;

  .gallery_detail_box {
    max-width:300px;
    clear:both;
  }
}
